body{
	background-color: #f9fffe;
}

 .nav-tabs li a {
      color: #777;
  }

  .navbar {
      font-family: Arial, Helvetica, sans-serif;
      margin-bottom: 0;
      background-color: #2d2d30;
      border: 0;
      font-size: 15px !important;
      letter-spacing: 1px;
      opacity: 0.9;
  }
  .navbar li a, .navbar .navbar-brand { 
      color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
      color: #fff !important;
  }
  .navbar-nav li.active a {
      color: #fff !important;
      background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }
  

  
  #exchoices{
	list-style-type: none;
  }
  
   #exchoices li{
	   margin-left: 0px;
	margin-bottom: 7px;
	font-size: 15px;
  }
 
  #exercises{
	margin-top: 0px;  
  }
  
  #exercises h1{
	margin-bottom: 40px;
  }
  
  .dropdown{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	margin-bottom: 30px;
	}
  
  .dropdown-menu{
	text-align: center;
	margin: 0px;
	margin-right: 10px;
	left:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	
  }
  
  .dropdown-menu li{
	 margin: 3px;
  }
 
  .dropdown-menu li:hover{
	background-color: #337ab7;
  }
  
  .dropdown-toggle{
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
  }
  
  #perStats{
	font-size: 35px;
	margin-bottom: 20px;
  }
  
  #plans{
	  margin-top: 5px;
	  font-size: 25px;
  }
  
  #planpic{
	  margin: 0 auto;
	  height: 300px;
	  margin-bottom: 50px;
	  margin-top: 10px;
  }
  
  .jumbotron{
	  background-color: transparent;
  }
  
  #theproducts{
	  margin-top: 10px;
  }
  
  #picexercise{
	width: 100%;
	height: 300px;
	margin-bottom: 10px;
  }
  
  
  footer {
      background-color: #2d2d30;
      color: #f5f5f5;
      padding: 32px;
	  font-size: 15px;
  }
  
  footer a {
      color: #f5f5f5;
  }
  footer a:hover {
      color: #777;
      text-decoration: none;
  }  
  .form-control {
      border-radius: 0;
  }
  textarea {
      resize: none;
  }
  
  
  .text{
	  font-size: 20px;
	  font-style: oblique;
	  font-weight: bold;
  }
  
  .social{
	  padding: 4px;
	  width: 32px;
	  height: 32px;
  }
  #gymtext{
		font-size: 30px;
  }
  
  #trafficC{
		margin-top: 0px;
	}

	#trafficj{
		margin-bottom:0px;
		margin-top: 0px;
		padding-top: 10px;
		background-color: transparent;
	}
  
#trafficbutton {
	width: 30px;
	height: 30px;
	padding: 0px;
	border: transparent;
	border-radius: 15px;
	background-color: transparent;
}  

#trafficinfo{
	margin-top: 20px;
	border: 2px solid transparent;
}

#checkExeStat{
	
}
  
.servicestitle{
	background-color: transparent;
	text-align: center;
	padding: 0px;
	margin-bottom: 0px;
 }

.panel-default{
	height:480px;
}
.table thead th{
	text-align: center;
	background-color:  #ffb84d;
	font-size: 20px;
}



.table td{
	font-size: 15px;
	
}

.btninfo{
	width: 100%;
	height: 50px;
	font-size: 20px;
	margin-top: 10%;
}

#product{
	margin-top: 20px;
	margin-bottom: 20px;
}

.table tr:hover{
	background-color: #99c2ff !important;
}

.table th{
	padding-left: 5px;
}

.contact{
	background-color: transparent;
	padding: 5px;
	text-align: center;
}

#rate{
	margin-top: 20px;
}

#submit{
	margin-top: 80px;
	width: 200px;
	height: 50px;
	font-size: 20px;
}	
	
.phide{
	font-size: 30px;
	font-style: bold;
	visibility: hidden;
}

#secondStats{
	margin-top: 20px;
}

.panel-heading{
	height: 50px;
}

.hide{
	visibility: hidden;
}

#submitexercise{
	background-color: transparent;
}

 #rememberexe{
	visibility: hidden;
} 

#submitexe {
	font-size: 20px;
	border: 2px solid white;
	border-radius: 10px;
}

#exeinfo{
	font-size: 30px;
}

#submitall{
	margin-left: 25px;
	font-size: 20px;
}

#checkedexes > li{
    border: 0px solid transparent;
}

#exinfo{
	font-size: 20px;
}

.header {
  position: fixed;
  margin-top: 50px;
  text-align: right;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
}

.header__content-text {
  margin-top: 10px;
  padding-top: 50px;  
  padding: 15px 20px;
}

#addmeasure{
	font-size: 20px;
	margin-bottom: 20px;
	border: 2px solid gray;
}

#formmeasure{
	background-color: transparent;
}

#formmeasure label{
	font-size: 20px;
}

#formmeasure input{
	margin: 3px;
}



